<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="renderer" content="webkit">
		<title>拼图后台管理-后台管理</title>
		<link rel="stylesheet" href="/public/pintuer.css">
		<link rel="stylesheet" href="/public/center.css">
		<script src="/public/jquery.js"></script>
		<script src="/public/pintuer.js"></script>
		<script src="/public/layer2.2/layer.js"></script>
	</head>
	<body>
		