{include file="$HOME/header.html"}
<div class="admin">
	<form method="post" class="form-x" action="" id="myform">
		<div class="form-group">
			<div class="label">
				<label for="readme">{$L.1209}</label>
			</div>
			<div class="field">
				<input type="text" class="input" name="data[title]" size="50" value="{$data.title}" data-validate="required:{$L.1107}{$L.2010}" />
			</div>
		</div>
		
		<div class="form-group">
			<div class="label">
				<label for="readme">{$L.2031}</label>
			</div>
			<div class="field">
				<select class="input" name="data[lang]">
					{foreach $langData as $k=>$v}
					<option value="{$k}" {if $k==$data.lang}selected="selected"{/if}>{$v}</option>
					{/foreach}
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<div class="label">
				<label for="readme">底部版权信息</label>
			</div>
			<div class="field">
				<input type="text" class="input" name="data[copyright]" size="50" value="{$data.copyright}" />
			</div>
		</div>

		<div class="form-group">
			<div class="label">
				<label for="readme">icp备案号</label>
			</div>
			<div class="field">
				<input type="text" class="input" name="data[icp]" size="50" value="{$data.icp}" />
			</div>
		</div>
		<div class="form-button">
			<input type="hidden" name="_method" value="put" />
			<button class="button bg-main" type="submit" id="mysubmit">{$L.1108}</button>
		</div>
	</form>
	<script>
		$(function(){
			
			//提交数据
			$("#mysubmit").click(function(){
				$("#myform").putData();
				return false;
			})
			
		})
		
	</script>
</div>
{include file="$HOME/footer.html"}