{include file="$HOME/header.html"}
<div class="admin">
	<form method="post" class="form-x" action="" id="myform">

		<div class="form-group">
			<div class="label">
				<label for="readme">{$L.3012}</label>
			</div>
			<div class="field">
				<input type="text" class="input" name="email" size="50" value="{$row.email}" {if $row} disabled="disabled" {/if} placeholder="test@test.com" data-validate="required:{$L.1107}{$L.3012}" />
			</div>
		</div>
		
		<div class="form-group">
			<div class="label">
				<label for="readme">{$L.3023}</label>
			</div>
			<div class="field">
				<input type="text" class="input" name="uname" size="50" value="{$row.uname}"  />
			</div>
		</div>
		
		<div class="form-group">
			<div class="label">
				<label for="readme">{$L.3024}</label>
			</div>
			<div class="field">
				<input type="text" class="input" name="tel" size="50" value="{$row.tel}"  />
			</div>
		</div>
	
		<div class="form-group">
			<div class="label">
				<label>{$L.1113}</label>
			</div>
			<div class="field">
				<div class="button-group button-group-small radio">
					<label class="button active">
						<input name="active" value="1" checked="checked" type="radio"><span class="icon icon-check"></span>{$L.1111}</label>
					<label class="button">
						<input name="active" value="0" type="radio"><span class="icon icon-check"></span>{$L.1110}</label>
				</div>
			</div>
		</div>
		
		{if $row}
		<div class="form-group">
			<div class="label">
				<label>{$L.2015}</label>
			</div>
			<div class="field">
				<div class="button-group button-group-small radio">
					<label class="button active">
						<input name="is_password" value="0" checked="checked" type="radio"><span class="icon icon-check"></span>{$L.1110}</label>
					<label class="button">
						<input name="is_password" value="1" type="radio"><span class="icon icon-check"></span>{$L.1111}</label>
				</div>
			</div>
		</div>
		{/if}
		
		<div class="form-group form-password">
			<div class="label">
				<label for="readme">{$L.2016}</label>
			</div>
			<div class="field">
				<input type="password" class="input" name="password" size="50" placeholder="{$L.2017}" data-validate="required:{$L.1107}{$L.2016}" />
			</div>
		</div>
		<div class="form-group form-password">
			<div class="label">
				<label for="readme">{$L.2018}</label>
			</div>
			<div class="field">
				<input type="password" class="input" name="password2" size="50" placeholder="{$L.2017}"  data-validate="required:{$L.1107}{$L.2018}" />
			</div>
		</div>
		
		<div class="form-button">
			<input type="hidden" name="_method" value="put" />
			<input type="hidden" name="_forward" value="{asForward($row,'Users')}" />
			<button class="button bg-main" type="submit" id="mysubmit">{$L.1108}</button>
		</div>
	</form>
	<script>
		$(function(){
			
			//提交数据
			$("#mysubmit").click(function(){
				$("#myform").putData();
				return false;
			})
			
			//密码事件
			if($("input[name='is_password']").length>0){
				$(".form-password").hide();
				$(".form-password").find("input[type='password']").attr("data-validate","");
			}
			
			$("input[name='is_password']").change(function(){
				var v = $(this).val();
				if(v=='1'){
					$(".form-password").show();
				}else{
					$(".form-password").hide();
				}
			})
			
			var active = '{$row.active}';
			if(active=='') active = '1';
			
			var limits = '{$row.limits}';
			if(limits=='') limits = '1';
			
			var limitg = '{$row.limitg}';
			if(limitg=='') limitg = '1';
			
			$("input[name='active'][value='"+active+"']").trigger("change").trigger("click");
			$("input[name='limits'][value='"+limits+"']").trigger("change").trigger("click");
			$("input[name='limitg'][value='"+limitg+"']").trigger("change").trigger("click");

		})
		
	</script>
</div>
{include file="$HOME/footer.html"}