{include file="$HOME/header.html"}
<div class="admin">
	<form method="post">
		<div class="panel admin-panel">
			<div class="panel-head"><strong>{$L.1101}</strong></div>
			<div class="padding border-bottom">
				<a href="{U('Group/edit')}" class="button button-small border-green">{$L.1100}</a>
			</div>
			<table class="table table-hover">
				<tr>
					<th>{$L.2002}</th>
					<th width="200">{$L.1106}</th>
				</tr>
				{foreach $list as $v}
				<tr>
					<td>{$v.title}</td>
					<td>
					<a class="button border-blue button-little" href="{U('/Group/edit',"gid={$v.gid}")}">{$L.1103}</a> 
					<a class="button border-yellow button-little" href="#" onclick="return delOne('{U('Group',"gid={$v.gid}")}')">{$L.1104}</a>
					
					</td>
				</tr>
				{/foreach}
				
				
			</table>
			<div class="page">{$page}</div>
			
		</div>
	</form>
</div>
{include file="$HOME/footer.html"}